*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #334155
    );

    color:white;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;

    transition:0.4s;
}

body.light{
    background:linear-gradient(
        135deg,
        #dbeafe,
        #f8fafc,
        #e2e8f0
    );

    color:#111827;
}

.container{

    width:100%;
    max-width:1100px;

    background:rgba(255,255,255,0.08);

    border:1px solid rgba(255,255,255,0.2);

    backdrop-filter:blur(18px);

    border-radius:25px;

    padding:35px;

    box-shadow:
        0 8px 32px rgba(0,0,0,0.3);

    animation:fadeIn 1s ease;
}

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
}